<launch>
    <!-- Launch robot description -->
  
  <include file="$(find tu_nguyen)/launch/nd_description.launch">
    <arg name="sim" value="true"/>
  </include>
  

 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/>
  </include>
  

  <node name="spawn_model"  pkg="gazebo_ros"  type="spawn_model"  args="-file $(find tu_nguyen)/urdf/tu_nguyen.urdf -urdf -model tu_nguyen -z 0.5" output="screen" />
  
  <node name="fake_joint_calibration" pkg="rostopic"  type="rostopic" args="pub /calibrated std_msgs/Bool true" />


    <!-- push robot_description to factory and spawn robot in gazebo 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/joint_states" />
  </node> 
  -->
  <rosparam file="$(find tu_nguyen)/config/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
   <!--start this controller--> 
  <rosparam file="$(find tu_nguyen)/config/arm_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>


  <!-- Load joint controller configurations from YAML file to parameter server 
  <rosparam file="$(find tu_nguyen)/config/mrm/joints.yaml" command="load"/>

  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="log" args="
    joint_state_controller
    joint1_position_controller
    joint2_position_controller
    joint3_position_controller
    joint4_position_controller
    joint5_position_controller
    joint6_position_controller" />
-->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

</launch>